# Ignore backups.
*~

# Ignore select directories.
__pycache__/
.ipynb_checkpoints/
tests/
_autosummary/
_build/

# Ignore select files.
.coverage
.python-version

# Ignore .pyc files.
*.pyc

# Ignore backup files.
\#*#
*.bak

# Ignore pip install build files.
build/
*.egg-info/
*/_version.py

# Ignore SLURM output files.
slurm-*.out